.catalog__page {
  /* position: absolute; */
  /* overflow: scroll; */
  /* width: 100dvw; */
  /* height: 100dvh; */
  min-height: calc(100% - 51px);
  transform: translateX(0dvw);
  transition: all .3s ease-in-out;
}

@media (min-width: 426px) {
  .catalog__page {
    transform: translateX(0%);
  }
}

.catalog__page_active {
  transform: translateX(-33dvw);
  /* overflow: hidden; */
  /* height: 100vh; */
  /* display: none; */
}

@media (min-width: 426px) {
  .catalog__page_active {
    transform: translateX(-33%);
  }
}