.main-page {
  display: none;
  position: absolute;
  /* transform: translateX(0dvw); */

  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 40px 0 51px 0;
  padding-top: 0;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  scrollbar-width: none;
}

@media (min-width: 426px) {
  .main-page {
    transform: translateX(0%);
  }
}

.main-page_selected {
  display: block;
}

.catalog-page {
  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 40px 0 51px 0;
  transform: translateX(0);
  background-color: rgb(0, 0, 0);
  transition: all .3s ease-in-out;
  box-sizing: border-box;
  scrollbar-width: none;
}

@media (min-width: 426px) {
  .catalog-page {
    width: 100%;
    height: 100%;
  }
}

.inactive {
  transform: translateX(-33dvw);
}

@media (min-width: 426px) {
  .inactive {
    transform: translateX(-33%);
  }
}

@keyframes slideInactiveOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33%);
  }
}

@keyframes slideInactiveOutMobile {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33dvw);
  }
}

@keyframes slideInactiveIn {
  from {
    transform: translateX(-33%);
  }
  to {
    transform: translateX(0);
  }
}