.info-block {
  margin: 0;
  padding-top: 20px;
}

.info-block__list {
  margin: 0;
  padding: 0;
  --gap: 20px;
  display: grid;
  grid-auto-flow: column;

  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-padding-inline: var(--gap);
  list-style-type: none;
  scrollbar-width: none;
}

.info-block__list::-webkit-scrollbar {
  width: 0;
}

.info-block__list li {
  scroll-snap-align: start;
}

.info-block .rssas-slider-tray {
  padding-left: 20px;
}

.info-block .rssas-slide {
  width: fit-content !important; 
}
