.header {
  transition: opacity .3s, background-color .3s, backdrop-filter .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
}

.header_scroll {
  opacity: 1;
}

.header_scroll2 {
  background-color: rgba(29, 29, 31, 0.72);
  border-bottom: 0.5px solid rgba(84, 84, 88, 0.65);
  backdrop-filter: blur(20px);
}

.header_search-page {
  height: 90px;
}

.header__title-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  height: 40px;
}

.header__title {
  flex-grow: 1;
  flex-basis: 40%;
  margin: 0;
  font-family: var(--pro-text);
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__button {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
  padding: 0 7px;
  flex-grow: 1;
  flex-basis: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #0a84ff;
  overflow: hidden;
  cursor: pointer;
  border:none;
}

.header__button_none {
  opacity: 0;
}

.header__button-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__search-container {
  width: 100%;
}

.disabled {
  opacity: 0;
  cursor: default;
}