@import url(./vendor/fonts/Inter/inter.css);
@import url(./vendor/fonts/SFProDisplay/pro_display.css);
@import url(./vendor/fonts/SFProText/pro_text.css);
@import url(./vendor/fonts/SFProRounded/pro_rounded.css);
@import url(./vendor/normalize.css);

:root {
  --pro-display: "SF Pro Display";
  --pro-text: "SF Pro Text";
  --pro-rounded: "SF Pro Rounded";
}

* {
  touch-action:pan-y pan-x;
  /* -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
  -moz-user-select: -moz-none; */
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
  /* -webkit-overflow-scrolling: touch; */
  touch-action:none;
  overflow: hidden;
  /* overflow: hidden; */
  /* overflow-x: scroll; */
  /* width: 100dvw;
  max-width: 100dvw;
  height: 100dvh; */
  /* max-width: 425px;
  margin: auto 0; */
  background-color: black;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled-scroll {
  /* overflow: hidden; */
}

a, label{
	-webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100dvh;
  font-family: var(--pro-display);
}

@media (max-width: 425px) {
  #root {
    /* -webkit-overflow-scrolling: touch; */
    display: flex;
  justify-content: center;
  align-items: center;
    /* position: relative; */
    width: 100%;
    /* height: 100%; */
  }
}