.info-block__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 0.50px solid rgba(84, 84, 88, 0.65);
}

.info-block__item:last-child > .info-block__content {
  border-right: none;
}

.info-block__title {
  margin: 0;
  padding: 0 16px;
  font-family: var(--pro-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 118%;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(235, 235, 245, 0.6);
}

.info-block__content {
  margin: 0;
  padding: 0 16px;
  border-right: solid 1px rgba(84, 84, 88, 0.65);
  font-family: var(--pro-rounded);
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(235, 235, 245, 0.6);

  display: flex;
  justify-content: center;
  fill: rgba(235, 235, 245, 0.6);
}

.info-block__subtitle {
  margin: 0;
  padding: 0 16px;
  font-family: var(--pro-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 118%;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(235, 235, 245, 0.6);
  white-space: nowrap;
}